<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Desafio Desconto INSS</h1>
      <p class="lead text-muted">Esse é um desafio de código em Rails 6 que consiste em criar um CRUD para um cadastro de proponentes. Deverá haver o calculo de desconto do INSS em tempo real, além disso haverá um gráfico mostrando quantos proponentes existem em cada faixa salarial de desconto.</p>
      <p>
        <a href="/proponents" class="btn btn-primary my-2">Ir para os Proponentes</a>
      </p>
    </div>
  </div>
</section>
